<%= link_to "Add a movie", new_movie_path %>

<% @movies.each do |movie| %>
  <div>
    <div style="background-image: url('<%= movie.poster_url %>'); background-size: cover; background-position: center; height: 500px; width: 300px;"></div>
    <h1><%= movie.title %></h1>
    <p><%= movie.rating %></p>
    <%= link_to "Show", movie_path(movie.id) %>
  </div>
  <br>
<% end %>
