<h1>Add a new movie</h1>

<%= simple_form_for(@new_movie) do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.input :poster_url %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to list", root_path %>
